// Import Google Font - Lora
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
// Import Google Font - Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
// Import Google Font - Caramel
@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');
// Import Google Font - Work Sans
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');
// Import BootStrap
@import '~bootstrap/scss/bootstrap';

// Import variables file
@import './variables.scss';

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Common 
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
ol, 
ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

// Buttons
.btn {
    font-size: .7rem;
    font-weight: 700;
}

.btn.small {
    padding: .3125rem 1.875rem;
}

.btn.large {
    padding: .9375rem 2.5rem;
}

.dark-button {
    background-color: $darkButton;
    color: $whiteText;
    transition: .5s;

    &:hover {
        background-color: $darkButtonHover;
        color: $whiteText;
    }
}

.light-button {
    background-color: $lightButton;
    color: $darkButton;
    transition: .5s;

    &:hover {
        background-color: $darkButton;
        color: $whiteText;
    }
}

// Typo

.handwriting {
    font-family: 'Caramel', cursive;
    color: $darkButtonHover;
    font-size: 3.5625rem;
    margin-bottom : 0;
}