// Import Google Font - Lora
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
// Import Google Font - Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
// Import Google Font - Caramel
@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');
// Import Google Font - Work Sans
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');
// Import BootStrap
@import '~bootstrap/scss/bootstrap';

// Import variables file
@import './variables.scss';

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Common 

html {
    font-size: 16px;
}
body {
    background-color: $mainBGC;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: $mainTextColor;
}
ol, 
ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color : $mainAccentColor;
    }
}

// Zoom fx on hover

.zoom {
    overflow: hidden;

    & img {
        transition: transform .5s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

// Buttons
.btn {
    font-size: .7rem;
    font-weight: 700;
}

.btn.small {
    padding: .3125rem 1.875rem;
}

.btn.large {
    padding: .9375rem 2.5rem;
}

.dark-button {
    background-color: $mainAccentColor;
    color: $alternateTextColor;
    transition: .5s;

    &:hover {
        background-color: $mainAccentColorHover;
        color: $alternateTextColor;
    }
}

.light-button {
    background-color: $lightButton;
    color: $mainAccentColor;
    transition: .5s;

    &:hover {
        background-color: $mainAccentColor;
        color: $alternateTextColor;
    }
}

// Typo

.handwriting {
    font-family: 'Caramel', cursive;
    color: $mainAccentColorHover;
    font-size: 3.5625rem;
    margin-bottom : 0;
}