// Colors
$mainBGC : #fff;

$lightButton : #FDF0EA;
$mainAccentColorHover : #6AC5F1;

$mainAccentColor : #ef6f31;
$mainAccentHover : #6AC5F1;
$mainTextColor : #000;
$alternateTextColor : #FFF;
$smallerTextColor : #b4b4b4;

$headingColor : #6AC5F1;

$sideTextColor : #f5ece4;
/* Sections */

// Header
$headerTopText : #8D807C;
$headerTopBGC : #f5f5f5;
$headerIconsColor : #696969;

// Hero

$heroBGC : #faf4ee;

// Testimonials

$testimonialsBGC : #FAF8F6;

// Blog

$blogBGC : #F5F7FA;

// Newsletter

$newsletterBGC : #244186;

